<%- include("partials/header") -%>
<h1>compose</h1>
<form  action="/compose" method="POST">
    <div class="form-group">
    <label for="">Title</label>
    <input class="form-control " name="postTitle" type="text">
    <label for="">Post</label>
    <textarea class="form-control" name="postBody" id="" cols="30" rows="5"></textarea>
</div>
<button class="btn btn-primary">publish</button>

</form>
<%- include("partials/footer") -%>